.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.reset-password-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.reset-password-input {
    width: 100%;
    box-sizing: border-box;
}

.btn {
    align-self: flex-start;
}

.reset-password-button {
    width: 100%;
}