.inventry-value-container {
    padding: 20px;
    background-color: #84A98C;
        border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 1.1em;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.inventry-value-container h3 {
    font-size: 2em;
    margin: 0;
    font-weight: bold;
}